<% if notice%>
   <p id="notice"><%= notice %></p>
<%end%>

<h1>Your Pragmatic Catalog</h1>
   <% @products.each do |item| %>
      <div class="entry">
         <%= image_tag(item.image_url) %>
         <h3> <%= item.title %> </h3>
         <%= sanitize(item.description) %>
         <div class="price_line">
            <span class="price"> <%= number_to_currency(item.price) %> </span>
            <%= button_to 'Add to Cart', line_items_path(product_id: item) %>
         </div>
      </div>
   <%end%>